

@{
    ViewData["Title"] = "About Us";

   
}

<style>
   
</style>




<div class="about-page">
    <div class="image-container-about">
        <img src="~/images/aboutbanner.jpg" class="Img d-block w-100" alt="First slide" />
    </div>

    <h2 class="heading-container-about text-center mt-5 mb-3">ABOUT US</h2>
    <div class="heading-container-about text-center">
        <p class="para-content">
            Olympic Dream India Sports Academy was founded in 2015 by Yashpal Chhabra. The Academy is a multi-sport academy
            that promotes athleticism, balance, speed, and agility. The mission is to promote sport at all levels within
            ODI, from the grassroots to the professional level, while developing and maintaining relationships with
            schools and the local community. With less chance of emotional burnout, children focus on a variety of games
            that enable them to improve their skill development. Olympic Dream India Sports Academy works with
            able-bodied individuals as well as those with challenging mobility, we have specially qualified staff who
            have vast experience to deal with most situations to ensure that everyone benefits.
        </p>
    </div>

    

 <style>
     .Adiv {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}


    .card1 {
        margin-top: 100px;
    }

   

 </style>

<div class="Adiv">
    <h2 id="A2title" class="heading-container-about text-center mt-3 mb-3">
        CORE TEAM
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Bhushan2.png" class="Img d-block w-100" alt="Bhushan Patil" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3 id="A3text">Co-Founder</h3>
                            <h5 id="A3text">Mr. Bhushan Patil(PL)</h5>
                        </h5>
                        <p class="card-text" id="A3text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No. -
                            230940320034
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Harsh.jpg" class="Img d-block w-100" alt="Harsh Patil" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3 id="A3text">Co-Founder</h3>
                            <h5 id="A3text">Mr. Harsh Patil</h5>
                        </h5>
                        <p class="card-text" id="A3text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No -
                            230940520023
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Kiran.jpg" class="Img d-block w-100" alt="Kiran Jadhav" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3 id="A3text">Co-Founder</h3>
                            <h5 id="A3text">Mr. Kiran Jadhav</h5>
                        </h5>
                        <p class="card-text" id="A3text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No. -
                            230940520032
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Numair.png" class="Img d-block w-100" alt="Numair Shaikh" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3 id="A3text">Co-Founder</h3>
                            <h5 id="A3text">Mr. Numair Shaikh</h5>
                        </h5>
                        <p class="card-text" id="A3text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No. -
                            230940520051
                        </p>
                    </div>
                </div>
            </div>
        
           @*  <div class="col-lg-4">
                <div class="card1" style="width: 18rem; " >
                    <img src="~/images/Hemant.jpeg" class="Img d-block w-100" alt="Hemant Dhumal" />
                    <div class="card-body1">
                        <h5 class="card-title">
                            <h3 id="A3text">Co-Founder</h3>
                            <h5 id="A3text">Mr. Hemant Dhumal</h5>
                        </h5>
                        <p class="card-text" id="A3text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No. -
                            230940520051
                        </p>
                    </div>
                </div>
            </div> *@
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/Hemant.jpeg" alt="Card image cap" style="height:365px; width:265px;">
                    <div class="card-body">
                        <h3 class="card-title">Co-Founder</h3>
                        <h5>Mr. Hemant Dhumal</h5>
                        <p class="card-text">
                            Currently pursuing PG Diploma in Advanced Computing from CDAC Mumbai. <br /> Roll No. -
                            230940520027
                        </p>
                       
                    </div>
                </div>
               

        </div>
    </div>
</div>