

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vision {
        text-align: center;
        margin-top: 10px;
    }

   

</style>

<div class="start">
    <div class="home-page">
        <div class="home-container">
            <header id="homehead">
            </header>
            <div class="image-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/cricket1.jpg" class="Img d-block w-100" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="Ctitle shadows">Winning isn't everything, but wanting to win is.</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/football2.jpg" class="Img d-block w-100" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="Ctitle shadows">To be the man, you have to beat the man.</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/basketball3.jpg" class="Img d-block w-100" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="Ctitle shadows">A champion is someone who gets up when he can't.</h3>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="vision-container">
            <h1 class="vision">Our Vision</h1>
            <h3>Our Vision is to help children lead a healthy and active lifestyle, not only during their childhood but throughout their lives. The Sports Gurukul strives to create a launch pad for sporting excellence, particularly for those with exceptional talents, with the aim of producing international sports champions who will bring glory to India.</h3>
        </div>
    </div>
