@{
    ViewData["Title"] = "Sports Related News";
}
<h1 class="heading">@ViewData["Title"]</h1>


<style>
    .heading{
        text-align:center;
        margin-bottom:20px;
    }
    .card:hover{
        transform:scale(1.2);
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Mumbai south vs panvel</h5>
                    <p class="card-text">
                        South Mumbai have been deducted two points in their Maharashtra  Test Championship (MTC) 2025 cycle after their agonisingly crushing defeat at the hands of South Mumbai in the first Test at the SuperSport Park, Centurion, in the two-match Test series, as the South won the match by an innings and 100 runs.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
           <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Thane vs Dadar</h5>
                    <p class="card-text">
                        Ashu Malik goes in the raid with less than 30 seconds on the mat which means it will be the last raid of the match. He waits enough to roll down the clock first and then does the clean-up act to come back with THREE TOUCHPOINTS with a SUPER RAID to all-out UP Thane in the last raid! Dadar gets five points as it wins by 35-25!
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Mira Bhaindar Vs Dombivali</h5>
                    <p class="card-text">
                        In a thrilling showdown at the iconic Stadium Wankhede, Team Bhaindar and Team Dombivali clashed in a match that will be remembered for its intense action and dramatic moments. The atmosphere was electric as passionate fans filled the stands, eagerly anticipating the battle between these two.

                        
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Tennis</h5>
                    <p class="card-text">
                        Perhaps the most startling of Rafael Nadal’s achievements – even more so than the ridiculous haul of 14 French Open titles – was the 912 consecutive weeks he spent in the top 10 of the world rankings. Second-best on that list in men’s tennis is Jimmy Connors, with 788.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
           <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Australia</h5>
                    <p class="card-text">
                        Legendary Australian cricket team opener Justin Langer compared the Indian Premier League (IPL) to the Olympic Games and said that every game in the competition is a spectacle. Langer became the head coach of Lucknow Super Giants (LSG) ahead of the IPL 2024 </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">World Cup</h5>
                    <p class="card-text">
                        After the World Cup in Baku, Gukesh went to Germany for the FIDE World Rapid Team Championships, Kolkata for the Tata Steel India Rapid and Blitz event and the Asian Games national team camp, Germany again for the Armageddon event.</p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Satvik and Chirag</h5>
                    <p class="card-text">
                        There’s a 20-year-old Olympic medal-sized heartbreak that Satwiksairaj Rankireddy and Chirag Shetty can help mend if they step on the podium in Paris next year. The 2003 sting in cricket couldn’t be undone in 2023, but a 2004 Olympic sniffle and sob can be upturned into a smile in a racquet sport in 2024.
                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Chess</h5>
                    <p class="card-text">
                        The moves provided above are just a sample, and there are many possible variations and outcomes in a chess game. The result may change depending on the actual moves made by the players during the match. The notation used here is algebraic notation, which is commonly used in chess. Player A is White, Player B is s Black.
                        </p>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Tennis</h5>
                    <p class="card-text">
                        Player X defeated Player Y in a hard court tennis match lasting 2 hours and 15 minutes, with a 6-3, 7-6(8-6) score; the first set had no tiebreaks, and both players showcased strong serves and skillful rallies.
                        </p>

                </div>
            </div>
        </div>
    </div>
</div>

