@model Razorpaycore8.Models.MerchantOrder;

<div>
    <h1>Payment Sucessful!!!</h1>

    <form action="http://localhost:5125" method="post">

        <input type="submit" value="Go Back To Home Page" class="btn btn-primary" />
    </form>

</div>